body {
  background-color: lightblue;
  color: black;
}

header {
  color: darkblue;
}

nav {
  color: red;
}

footer {
  background-color: black;
  color: white;
}

a {
  color: green;
}

a:hover {
  color: red;
  background-color: grey;
}

.homelist {
  list-style-type: square;
}

table {
  text-align: center;
}

thead {
  text-decoration: underline;
}

#addnewmovie {
  color:white;
  border-radius: 5px;
  background-color: green;
  padding:10px;
}
